In [1]:
# Database: Central Statistics Office
# Title: CJQ06 - Recorded crime incidents (Under Reservation)
# Source: https://data.cso.ie/table/CJQ06
# File name: CJQ06.20231115T191114.csv
# Last Updated: 25/09/2023 11:00:00

# Crime Analysis in Dublin from 2003-Q1 to 2023-Q2

## Quickly Data Analysis

In [2]:
#importing dataset
import pandas as pd

dataframe = pd.read_csv("CJQ06.20231115T191114.csv")

In [3]:
num_rows, num_cols = dataframe.shape

print("Number of Rows:", num_rows)
print("Number of Columns (Attributes):", num_cols)

Number of Rows: 163016
Number of Columns (Attributes): 6

In [4]:
#analysing columns types
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163016 entries, 0 to 163015
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   STATISTIC Label  163016 non-null  object
 1   Quarter          163016 non-null  object
 2   Garda Division   163016 non-null  object
 3   Type of Offence  163016 non-null  object
 4   UNIT             163016 non-null  object
 5   VALUE            163016 non-null  int64
dtypes: int64(1), object(5)
memory usage: 7.5+ MB

In [5]:
#5 categorical (object) and 1 numerical (int64)

In [6]:
#analysing head dataframe
dataframe.head()

,STATISTIC Label,Quarter,Garda Division,Type of Offence,UNIT,VALUE
0,Recorded crime incidents (Under Reservation),2003Q1,Cavan/Monaghan Garda Division,Homicide offences,Number,1
1,Recorded crime incidents (Under Reservation),2003Q1,Cavan/Monaghan Garda Division,Murder,Number,0
2,Recorded crime incidents (Under Reservation),2003Q1,Cavan/Monaghan Garda Division,Manslaughter,Number,0
3,Recorded crime incidents (Under Reservation),2003Q1,Cavan/Monaghan Garda Division,Infanticide,Number,0
4,Recorded crime incidents (Under Reservation),2003Q1,Cavan/Monaghan Garda Division,Dangerous driving leading to death,Number,1

In [7]:
#analysing tail dataframe
dataframe.tail()

,STATISTIC Label,Quarter,Garda Division,Type of Offence,UNIT,VALUE
163011,Recorded crime incidents (Under Reservation),2023Q2,D.M.R. Western Garda Division,"Offences against government, justice procedure...",Number,367
163012,Recorded crime incidents (Under Reservation),2023Q2,D.M.R. Western Garda Division,Offences against government and its agents,Number,3
163013,Recorded crime incidents (Under Reservation),2023Q2,D.M.R. Western Garda Division,Organisation of crime and conspiracy to commit...,Number,0
163014,Recorded crime incidents (Under Reservation),2023Q2,D.M.R. Western Garda Division,Perverting the course of justice,Number,1
163015,Recorded crime incidents (Under Reservation),2023Q2,D.M.R. Western Garda Division,"Offences while in custody, breach of court orders",Number,363

# Data Preparation

## Removing unnecessary columns

In [8]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163016 entries, 0 to 163015
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   STATISTIC Label  163016 non-null  object
 1   Quarter          163016 non-null  object
 2   Garda Division   163016 non-null  object
 3   Type of Offence  163016 non-null  object
 4   UNIT             163016 non-null  object
 5   VALUE            163016 non-null  int64
dtypes: int64(1), object(5)
memory usage: 7.5+ MB

In [9]:
dataframe["STATISTIC Label"].unique()

array(['Recorded crime incidents (Under Reservation)'], dtype=object)

In [10]:
dataframe = dataframe.drop(["STATISTIC Label"], axis=1)

In [11]:
dataframe["UNIT"].unique()

array(['Number'], dtype=object)

In [12]:
dataframe = dataframe.drop(["UNIT"], axis=1)

In [13]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163016 entries, 0 to 163015
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Quarter          163016 non-null  object
 1   Garda Division   163016 non-null  object
 2   Type of Offence  163016 non-null  object
 3   VALUE            163016 non-null  int64
dtypes: int64(1), object(3)
memory usage: 5.0+ MB